FileManagerService/Clients/FileService.FrameworkClient/Connected Services/Clients/System.IO.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/System.IO" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/System.IO" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="ArrayOfDriveInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DriveInfo" nillable="true" type="tns:DriveInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDriveInfo" nillable="true" type="tns:ArrayOfDriveInfo" />
  <xs:complexType name="DriveInfo">
    <xs:sequence>
      <xs:any minOccurs="0" maxOccurs="unbounded" namespace="##local" processContents="skip" />
    </xs:sequence>
    <xs:attribute ref="ser:FactoryType" />
  </xs:complexType>
  <xs:element name="DriveInfo" nillable="true" type="tns:DriveInfo" />
  <xs:complexType name="ArrayOfFileInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="FileInfo" nillable="true" type="tns:FileInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFileInfo" nillable="true" type="tns:ArrayOfFileInfo" />
  <xs:complexType name="FileInfo">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:FileSystemInfo" />
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="FileInfo" nillable="true" type="tns:FileInfo" />
  <xs:complexType name="FileSystemInfo">
    <xs:sequence>
      <xs:any minOccurs="0" maxOccurs="unbounded" namespace="##local" processContents="skip" />
    </xs:sequence>
    <xs:attribute ref="ser:FactoryType" />
  </xs:complexType>
  <xs:element name="FileSystemInfo" nillable="true" type="tns:FileSystemInfo" />
  <xs:complexType name="ArrayOfDirectoryInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DirectoryInfo" nillable="true" type="tns:DirectoryInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDirectoryInfo" nillable="true" type="tns:ArrayOfDirectoryInfo" />
  <xs:complexType name="DirectoryInfo">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:FileSystemInfo" />
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="DirectoryInfo" nillable="true" type="tns:DirectoryInfo" />
</xs:schema>